{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Process</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" href="{% static 'css/cards-gallery.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<!-- Navbar (sit on top) -->
	<div class="w3-top w3-hide-small">
	  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
	    <a href="/" class="w3-bar-item w3-button">HOME</a>
	<!--    <a href="products" class="w3-bar-item w3-button">PRODUCTS</a> -->
	    <a href="process" class="w3-bar-item w3-button">OUR PROCESS</a>
	    <a href="gallery" class="w3-bar-item w3-button">SCRAP YARD GALLERY</a>
	
	    <a href="contact" class="w3-bar-item w3-button">CONTACT US</a>
	  </div>
	</div>

   <section class="gallery-block cards-gallery">
	    <div class="container">
	    	<!-- First Grid -->
			<div class="w3-row-padding w3-padding-64 w3-container">
			  <div class="w3-content">
			    <div class="w3-twothird">
			      <h1>Our Metal Recycling Process</h1>
			      <h5 class="w3-padding-32">Learn how we recycle ferrous and non-ferrous metals, wire & copper!</h5>

			      <p class="w3-text-grey">Environmental consciousness has always been at the heart of what we do. From the very first days of the company, founder Arthur Weinstein was committed to utilizing what already exists by “mining the surface of the world” and recycling these materials to prolong their use, reducing needless waste and the need for further conventional mining. We’ve continued this tradition of conservation over four generations, all-the-while continuing to improve our processes to ensure maximum efficiency.</p>
			    </div>
			  </div>
			</div>

	        <div class="heading">
	          <h2>Ferrous (Heavy) Metals</h2>
	        </div>
	        <div class="row">
	            <div class="col-md-6 col-lg-3">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="static/img/pr1.jpg">
	                		<img src="static/img/pr1.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Step 1:</a></h6>
	                        <p class="text-muted card-text">Truck unloading 15,000 lbs. heavy metals</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-3">
	                <div class="card border-0 transform-on-hover">
						<a class="lightbox" href="static/img/pr2.jpg">
		                	<img src="static/img/pr2.jpg" alt="Card Image" class="card-img-top">
		                </a>
	                    <div class="card-body">
	                        <h6><a href="#">Step 2:</a></h6>
	                        <p class="text-muted card-text"> Lifting and sorting</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-3">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="static/img/pr3.jpg">
	                		<img src="static/img/pr3.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Step 3:</a></h6>
	                        <p class="text-muted card-text"> Compacting and packaging</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-3">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="static/img/pr4.jpg">
	                		<img src="static/img/pr4.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Step 4: </a></h6>
	                        <p class="text-muted card-text">Truck loaded with 60,000 lbs. ready for shopping</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	      <div class="container">
	        <div class="heading">
	          <h2>Non-Ferrous Metal</h2>
	        </div>
	        <div class="row">
	            <div class="col-md-6 col-lg-3">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="static/img/nf1.jpg">
	                		<img src="static/img/nf1.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Step 1:</a></h6>
	                        <p class="text-muted card-text">Sorting aluminum types after being dropped</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-3">
	                <div class="card border-0 transform-on-hover">
						<a class="lightbox" href="static/img/nf2.jpg">
		                	<img src="static/img/nf2.jpg" alt="Card Image" class="card-img-top">
		                </a>
	                    <div class="card-body">
	                        <h6><a href="#">Step 2:</a></h6>
	                        <p class="text-muted card-text"> LNon-ferrous metals added to the conveyor to be baled</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-3">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="static/img/nf3.jpg">
	                		<img src="static/img/nf3.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Step 3:</a></h6>
	                        <p class="text-muted card-text"> Quality assurance on the baled metals</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-3">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="static/img/nf4.jpg">
	                		<img src="static/img/nf4.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Step 4: </a></h6>
	                        <p class="text-muted card-text"> Bales are piled up high ready to be shipped</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	     <div class="container">
	        <div class="heading">
	          <h2>Aluminium</h2>
	        </div>
	        <div class="row">
	            <div class="col-md-6 col-lg-3">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="static/img/al1.jpg">
	                		<img src="static/img/al1.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Step 1:</a></h6>
	                        <p class="text-muted card-text"> Copper pile waiting to be sorted</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-3">
	                <div class="card border-0 transform-on-hover">
						<a class="lightbox" href="static/img/al2.jpg">
		                	<img src="static/img/al2.jpg" alt="Card Image" class="card-img-top">
		                </a>
	                    <div class="card-body">
	                        <h6><a href="#">Step 2:</a></h6>
	                        <p class="text-muted card-text"> Copper is sorted</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-3">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="static/img/al3.jpg">
	                		<img src="static/img/al3.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Step 3:</a></h6>
	                        <p class="text-muted card-text"> Copper is added to conveyor</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-6 col-lg-3">
	                <div class="card border-0 transform-on-hover">
	                	<a class="lightbox" href="static/img/al4.jpg">
	                		<img src="static/img/al4.jpg" alt="Card Image" class="card-img-top">
	                	</a>
	                    <div class="card-body">
	                        <h6><a href="#">Step 4: </a></h6>
	                        <p class="text-muted card-text">Baled Copper is stacked and ready for transport</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

    </section>

	    <!-- Footer -->
	<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
	  <h5>Find Us On</h5>
	  <div class="w3-xlarge w3-padding-16">
	    <i class="fa fa-facebook-official w3-hover-opacity"></i>
	    <i class="fa fa-instagram w3-hover-opacity"></i>
	    <i class="fa fa-snapchat w3-hover-opacity"></i>
	    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
	    <i class="fa fa-twitter w3-hover-opacity"></i>
	    <i class="fa fa-linkedin w3-hover-opacity"></i>
	  </div>
	  <p>Powered by <a href="" target="_blank" class="w3-hover-text-green">Satyam Thakur</a></p>
	</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
    </script>
</body>
</html>